.title {
  font-size: 22px;
  margin: 1.5rem 0 2.5rem;
}

.divlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.list {
  font-weight: 300;
  font-size: 22px;
  max-width: 750px;
}

.list > li {
  margin-bottom: 1.5rem;
}

.list ul li {
  margin-bottom: 0.5rem;
}

.list li {
  list-style-position: inside;
  padding: 4px 0 4px 30px;
  text-indent: -30px;
}

@media only screen and (max-width: 802px) {
  .divlist {
    flex-direction: column;
    gap: 1rem;
  }

  .divlist > div {
    margin: 0 auto 2rem;
    max-width: 50%;
  }
}
