.container {
  width: 100%;
}

.container > div {
  position: unset !important;
}

.container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
