.section {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.sectionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  max-width: 750px;
}

.sectionInfo h2 {
  font-size: 36px;
}

.title {
  font-size: 28px;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}

.list {
  font-weight: 300;
  font-size: 18px;
}

.list li {
  margin-bottom: 0.5rem;
  list-style-position: inside;
  padding: 4px 0 4px 30px;
  text-indent: -25px;
}

@media only screen and (max-width: 802px) {
  .sectionInfo {
    margin: 0 auto;
  }
}
