.container h1 {
  margin-bottom: 1rem;
}

.container span {
  margin: 5px 0 6rem;
  display: block;
  text-align: center;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.infos:last-child {
  margin-bottom: 0;
}
