.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  background: #fff;
  z-index: 1;
}

.invisible {
  height: 100px;
  background-color: transparent;
}

.links {
  display: flex;
  color: #021b3b;
  font-size: 20px;
  font-weight: 500;
  gap: 1rem;
}

.links a:hover {
  color: #87bde1;
}
